@import "../../styles/variables.scss";

.create-new-user-button {
  background-color: $violet;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  border-radius: 50px;
  @include transition-ease-in-out;

  &:hover {
    background-color: $light-violet;
    color: $primary-dark;
  }

  &__text {
    padding: 0.625rem;
  }
}

.plus-icon {
  width: 50px;
  height: 50px;
}

@include Tablet-768 {
  .plus-icon {
    display: none;
  }
}
