@import "../../styles/variables.scss";

.users-list {
  &__user {
    display: block;
    background-color: $very-dark-blue;
    margin: 1.25rem 0;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    color: $violet;
    border-radius: 20px;
    transition: all 200ms ease;

    &:hover {
      font-weight: 700;
      color: $light-violet;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
}
