// input {
//   display: block;
//   margin: 20px;
// }

.date-picker {
  input {
    color: white;
    // background-color: red;
  }
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
