@import "../../styles/variables.scss";

.header {
  min-height: 162px;
  background-image: url(../../assets/bg-pattern-header.svg);
  background-size: cover;
  margin-bottom: 2.5rem;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 2.813rem;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
  }

  a {
    transition: all 200ms ease-in-out;
  }
  a:active {
    color: $primary-dark;
  }
}

@include mobile-L-425 {
  .header__wrapper {
    flex-direction: column;
  }
}
